/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background-color: pink;
}
p {
  color: #db7572;
  font-family: monospace;
}
h1{
  color:#fe6692;
  font-family:  Script MT;
  
}
h3 {color:#ffddd6;
    font-style: Lucidia Console;
   }

  
}
